/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/hourglass-4666692_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100vh;
    height: 100%vh;
    background-size: cover;
    
}

.head #title{
    text-align: center;
    padding: 10px;
    margin-top: 250px;
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 24px;
}

.container{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container div{
    display: inline-block;
    margin-top: 20px;
}

.container input{
    width: 50px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.container p{
    font-weight: bold;
    
}

.buttons{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.buttons button{
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
}
